## Python、Pandas、NumPy資料型別
|資料型別|Python type|Pandas dtype|NumPy type|
|-|-|-|-|
|字串/非數字|str or mixed|object|string_, unicode_, mixed types|
|整數|int|int64|int_, int8, int16, int32, int64, uint8, uint16, uint32, uint64|
|浮點數|float|float64|float_, float16, float32, float64|
|步林|bool|bool|bool_|
|日期時間|datetime|datetime64|datetime64[ns]|
|時間差|NA|timedelta[ns]|NA|
|列舉|NA|category|NA|

參考資料：[10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html)
[Pandas Cheat Sheet](https://www.cnblogs.com/hhh5460/p/7454849.html)

In [ ]:
import numpy as np
import pandas as pd

## 建立DataFrame
**pd.DataFrame(data=None, index=None, columns=None)**
* list產生DataFrame
* tuple產生DataFrame
* dict產生DataFrame：dict的Key是唯一值，若有相同Key，value將被覆蓋
* Array產生DataFrame

In [ ]:
l = list(np.random.randint(100, size = (10, 10)))
df = pd.DataFrame(l)

In [ ]:
d = {
    "date": pd.date_range("2017-10-01", periods = 7, freq = 'D'),
    "str": ["Mon.", "Tue.", "Wed.", "Thu.", "Fri.", "Sat.", "Sun."],
    "chr": list('abcdefg'),
    "int": list(range(0, 70, 10)),
    "float": np.random.random(size = 7),
    "bool": np.random.randint(5, 15, size = 7) % 2 == 0,
}
df = pd.DataFrame(d)

In [ ]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]
list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

zipped = zip(list_labels, list_cols)
df = pd.DataFrame(dict(zipped))

## DataFrame屬性
* DataFrame.index
* DataFrame.columns
* DataFrame.shape
* DataFrame.size
* DataFrame.dtypes

In [ ]:
print('df.index：', df.index)
print('df.columns：', df.columns)
print('df.shape：', df.shape)
print('df.size：', df.size)
print('df.dtypes: ', df.dtypes)
print(len(df))

## DataFrame描述統計
* DataFrame.info()：資訊查詢
* DataFrame.describe()：描述統計
* DataFrame.mean()：計算平均
* DataFrame.median()：中位數
* DataFrame.sum()：計算總和
* DataFrame.std()：標準差。
* DataFrame.max()：最大值
* DataFrame.min()：最小值
* DataFrame.agg()：聚合函數

In [ ]:
df.info()
df.describe()
df.mean()       #df.mean(1)
df.median()
df.sum()
df.std()
df.max()
df.min()
df.agg(['sum', 'max', 'mean', 'median', 'std', 'min', 'count'])

## DataFrame增加元素
### 新增Column

In [ ]:
scores = {'座號':[1, 2, 3 ,4, 5, 6, 7],
          '姓名':['劉德華', '黎明', '郭富城', '張學友', '張惠妹', '伍百', '孫燕姿'],
          '國文':[50, 56, 78, 96, 21, 58, 63],
          '英文':[56, 78, 63, 25, 98, 25, 87],
          '數學':[65, 78, 96, 65, 45, 25, 81]
}
df = pd.DataFrame(scores)
#方法一：
df['歷史'] = [90, 33, 45, 80, 60, 56, 69] 
#方法二：
#df.insert(5, "歷史", [90, 70, 45, 80, 60, 33, 25])

### 新增Row

In [ ]:
newdata = pd.DataFrame({'座號':[8],
                        '姓名':['蕭亞軒'],
                        '國文':[70],
                        '英文':[90],
                        '數學':[59]})
#方法一：
df = df.append(newdata, ignore_index = True)
#方法二：
#df.loc['7'] = [8, '張清允', 100, 100, 100, 100, 100]

## 設定index & columns

In [ ]:
df.columns = ['座號','姓名','自然','地理','社會','政治']               #修改列名（需要写上所有列名，包括要修改的和不要修改的)
df.rename(columns = {"國文": "自然","數學":"社會","英文":"地理"})     #修改列名（只需写上需要修改的列）

df.index = list(range(1,8))
df.rename(index = {0: "零", 1:'一', 2:'二', 3:'三', 4:'四', 5:'五', 6:'六'})

df.set_index('座號', inplace = True)
df.sort_index(inplace = True)
df.reset_index(inplace = True)
df.reindex(...)

#調整列順序
df = df[['user_id','book_id','rating','mark_date']]

## DataFrame取值、改值、切片
### 取值：df.loc (名稱選值)；df.iloc (索引選值)

In [ ]:
df.loc[2, '姓名']
df.iloc[2, 1]

### 改值

In [ ]:
df.iloc[1,2] = 10
df[df > 0] = -df

### 切片：以column進行項目挑選

In [ ]:
df['姓名']
#df.loc[:, '姓名']
#df.iloc[:, 1]
#df.iloc[:, [1, 4]]
df[['國文', '英文', '數學']]
#df.loc[:, ['國文', '英文', '數學']]
#df.loc[:, '國文':'數學']
#df.loc[:, '國文':]
#df.iloc[:, 2:5]
#df.iloc[:, 2:]

### 切片：以 index進行項目挑選
使用df.loc連續取值範圍與 df.iloc 不同

In [ ]:
#連續取值
df[2:6]
df.loc[2:5]
df.iloc[2:6]

#不連續取值
df[0::2]
df.loc[0::2]
df.iloc[0::2]

### 切片：index 與 column 綜合進行項目挑選

In [ ]:
df.iloc[2:6, [1, -1]]
df.loc[2:5, ['姓名', '數學']]
#df[['姓名', '數學']].iloc[2:6]
#df[['姓名', '數學']].loc[2:5]

## 篩選

In [ ]:
df[df['國文'] > 60]
df[(df['國文'] > 60) & (df['英文'] > 60)]
df.loc[df['國文'] > 60, ["姓名", "歷史"]]

In [ ]:
df[df['姓名'].isin(list)]
df[~df['姓名'].isin(list)]

In [ ]:
df['姓名'][df['英文'].idxmax()]
df.loc[df['英文'].idxmax(), '姓名']
df.iloc[df['英文'].idxmax(), 1]

In [ ]:
df.iloc[[df['國文'].idxmax(), df['歷史'].idxmin()]]
df.iloc[[df['國文'].idxmax()]+[df['歷史'].idxmin()]]

In [ ]:
df.query('AQI<50 and AQI>60')
df.select_dtypes(include = ["int64", "float64"])

## 合併
### concat

In [ ]:
df = pd.concat([df1, df2], axis = 1, ignore_index = True)

### merge

In [ ]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

display(df1)
display(df2)
df = pd.merge(df1, df2, on='key')

In [ ]:
#how參數：left:以左邊為主；right：以右邊為主；outer：不管key；inner：以相同key為主，配合on
df = pd.merge(df1, df2, on=['key1', 'key2'], how='inner')

df = pd.merge(df1, df2, left_index=True, right_index=True, how='outer')
df = pd.merge(df1, df2, on='col1', how='outer', indicator=True)

## 轉換類型

In [ ]:
df = df.astype({'col1' : 'int', 'col2' : 'object'})

### 轉換為 str 字符串類型

In [ ]:
#方法一：
df['A'] = df['A'].astype('str')
df[['A','B']] = df[['A','B']].astype('str')

#方法二：
df['A'] = df['A'].apply(lambda _: str(_))
df[['A','B']] = df[['A','B']].apply(lambda _: str(_))  #錯誤，不能使用 apply 方法將函式應用於多個列

### 轉換為 int 整數類型

In [ ]:
#方法一：
df['A'] = df['A'].astype('int')

#方法二：
df['A'] = pd.to_numeric(df['A'])
df = df.apply(pd.to_numeric, errors = 'coerce')

### 轉換為 datetime 類型

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.strftime('%m-%d %Y')

### 轉換為 分類 類型

In [ ]:
#方法一：
df['type'] = df['type'].astype('category')
#方法二：
df['type'] = pd.Categorical(df['type'])

### int整數 mapping成 str字符串

In [ ]:
df['condition'] = df['condition'].map({1:'positive', -1:'negative', 0:'neutral'})

df['condition'] = df['condition'].replace({1:'positive', -1:'negative', 0:'neutral'})

### Dataframe 或 Series 轉換為 list 類型

In [ ]:
df['a'].tolist()
df['a'].drop_duplicates().tolist()     #去重
list(df['a'])

### Dataframe 或 Series 轉換為 Numpy Array 類型

In [ ]:
df.values

In [ ]:
df.to_numpy()

### Series 轉換為 DataFrame

In [ ]:
df = s.to_frame()

## 其他用法

### 空值

In [ ]:
df.isna()
df.isnull().sum()
df.notnull()
df.notna()

df.fillna(df.mean())
df.fillna(0)

### 刪除

In [ ]:
df.drop(columns = 'col', axis = 1, inplace = True)
df.drop(np.where((df['col1'] == 0) | (df['col2'] == 0))[0], inplace = True)

### 刪除空值

In [ ]:
df.dropna(subset = ['col1','col2'], how = 'any', inplace = True)     #how：any只要有空值就删（默认），all全部空值才删

### 刪除重複

In [ ]:
df.drop_duplicates(subset = 'col', keep = 'first', inplace = True)

In [ ]:
df['col'].unique()             ##處理單列時使用，並返回一列的所有唯一元素，最終輸出是一個陣列
df['col'].unique().size        #去重後統計數量
df['col'].nunique()            #功能同上，去重後統計數量

### 分組

In [ ]:
df.groupby('col').describe() # 描述性统计
df.groupby('col').sum() # 求和
df.groupby('col').count() # 每组数量，不包括缺失值
df.groupby('col').max() # 求最大值
df.groupby('col').min() # 求最小值
df.groupby('col').size() # 分组数量
df.groupby('col').mean() # 平均值
df.groupby('col').median() # 中位数
df.groupby('col').std() # 标准差
df.groupby('col').var() # 方差

df.groupby('col').first() # 组内第一个
df.groupby('col').get_group('group name')
df.groupby(['col1', 'col2']) 
df.groupby('col1')['col2'].hist()
df.groupby('col1')['col2'].apply()

### 排序

In [ ]:
df[['總分', '平均']] = df.apply(lambda x:x[2:].agg(['sum', 'mean']), axis = 1)
df['總排名'] = df['總分'].rank(method = 'min', ascending = False)
df.sort_values('總排名')

### 區間
pandas.cut(x, bins, right=True, labels=None)，用途：回傳 x 中的每一個數據在bins 中對應的範圍
- x ：必須是一維資料來源
- bins：整數、序列或間隔索引
- labels：對應bins區間的文字列表

In [ ]:
bins = list(np.linspace(150, 301, 6))
content = ["再努力", "不錯", "很好", "很棒", "很棒棒"]
df["成績評語"] = pd.cut(df['總分'], bins, labels = content)

In [ ]:
pd.value_counts(pd.cut(df['總分'], bins))

### 計數

In [ ]:
df['col'].value_counts()
df['col'].value_counts(ascending = True)

### 一列拆分成多列

In [ ]:
df2 = df['col'].str.split(',', expand = True)
df2 = df['col'].str.split(',').apply(pd.Series)[1]

### 合併兩列文字

In [ ]:
#方法一：
df["Full Name"] = df["First"] + " " + df["Last"]

#方法二：
df['Full Name'] = df[['First', 'Last']].apply(' '.join, axis=1)

#方法三：
df['Full Name'] = df['First'].str.cat(df['Last'], sep=" ")

### 取代

In [ ]:
df.replace(r'\\n','', regex=True, inplace = True)

### 字符串資料處理

In [ ]:
df['col'].str.upper()
df['col'].str.lower()
df['col'].str.title()
df['col'].str.capitalize()

df['col'].str.contains("高雄 | 台南")
df['col'].str.startswith()
df['col'].str.endswith()
     
df['col'].str.extract('(.+)@', expand=True)            #仅提取第一个匹配项。expand:布尔型,是否返回DataFrame
df['col'].str.extract('(.+)@(.+)')                
df['col'].str.extractall('([a-z]+)@([a-z.]+)')         #提取所有匹配项

df['col'].str.find(sub, start=0, end=None)
df['col'].str.findall(pat, flags=0)
df['手機號'].str.findall(r'(\d+)').apply(lambda n:''.join(n)).apply(lambda n:n[2:] if n.startswith('86') else n)

df['col'].str.split(',', expand=True)

df['col'].str.replace(' ', '')

df['col'].str.strip()
df['col'].str.strip('123.!? \n\t')
df['col'].str.lstrip('123.')
df['col'].str.rstrip('123.')

df['col'].str.get(i)       #Extract element from lists, tuples, strings in each element in the Series/Index
df['col'].str[2:]

### Apply

In [ ]:
df.select_dtypes(include = ["int64"]).apply(pd.Series.nunique, axis = 0)

In [ ]:
df['col'].str.split(',').apply(pd.Series)[1]

### Map

In [ ]:
target_name = {
    0:'setosa',
    1:'versicolor',
    2:'virginica'
}

df['target_name'] = df['target'].map(target_name)

### 樞紐分析

In [ ]:
pd.crosstab([df['pclass'], df['sex'], df['survived'])

In [ ]:
df.pivot(index = 'col1', columns = 'col2', values = 'col3')

## 資料存取(CSV、Excel、SQLite)
### 儲存與讀取 CSV
- pandas無法讀取中文名稱檔案
- 直接存檔至 CSV 會多出一個Column，因為pandas自動將index一起存入 CSV，可添加 index = 0去掉index
- Python3 預設編碼為 UTF-8，不指定編碼儲直接存成CSV檔，再以 Excel 開啟該 CSV 檔，將會遇到中文亂碼，因為Windows 的 Excel 不支援 UTF-8。要解決上述問題，改變輸出編碼為 BIG-5，添加 encoding = 'big5'。

In [ ]:
df.to_csv('scores.csv', index = 0)
#df.to_csv('scores.csv', encoding = 'big5', index = 0)

In [ ]:
df = pd.read_csv('scores.csv')
#df = pd.read_csv('scores.csv', encoding = 'big5', index_col = 2)    #index_col 可以指定列作為索引

### 儲存與讀取 Excel

In [ ]:
df.to_excel('scores.xlsx', index = 0)
#df.to_excel('scores.xlsx', sheet_name = "學生成績", index = 0)

In [ ]:
df = pd.read_excel('scores.xlsx')
#df = pd.read_excel('scores.xlsx', sheet_name = "學生成績")

In [ ]:
from pandas import ExcelWriter

with ExcelWriter('data.xlsx') as writer:
    df_total.to_excel(writer, sheet_name="total", encoding='utf-8')
    df_unique.to_excel(writer, sheet_name="unique", encoding='utf-8')
    writer.save()

### 儲存與讀取 SQLite

In [ ]:
import sqlite3 as lite

with lite.connect("student_scores.sqlite") as db:
    df.to_sql(name ='student', con = db, if_exists='replace')

In [ ]:
import sqlite3 as lite
with lite.connect('student_scores.sqlite') as db:
    df = pd.read_sql_query('SELECT * FROM student;', db, index_col = ['index'])
df.head()

In [ ]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import re

url = 'https://www.opec.org/basket/basketDay.json'
r = requests.get(url)
l = r.text.replace('Date.UTC','')
df = pd.DataFrame(eval(l))
df

In [ ]:
df.values.tolist()
df.apply(lambda x:"https://news.cnyes.com/news/id/{}".format(x[0]), axis = 1)